body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
  color: #333;
}

.group-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.created-by {
  display: block;
  font-size: 0.7em;
  color: #666;
  margin-top: 5px;
  text-align: right;
}

.group-input {
  margin: 10px 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  outline: none;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

#group-name {
  flex: 1;
  margin-right: 10px;
  border: none;
  outline: none;
  background: transparent;
}
